.test{
    display: flex;
    width: 90%;
    justify-content: space-around;
    align-items: center;
}

form {
    display: grid;

}
table {
    font-family: arial;
    border-collapse: collapse;
}
  
td, th {
    border: 1px solid #858484;
    text-align: left;
    padding: 8px;
}

.users {
    color: rgb(49, 47, 48);
}

tr:nth-child(odd) {
    background-color: #dddddd;
}

.userData {
    margin: 10px;
}

form span{
    color: red;
}
